* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

:root {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/rain-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 1000px;
}

.hidden {
  visibility: hidden;
}

.display-container {
  width: 900px;
  height: 300px;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(190, 190, 190)
}

.weather-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}

.panel-icon {
  width: 150px;
  height: 150px;
}

.location-form {
  width: 346px;
  height: 408px;
  position: absolute;
  left: 50%;
  margin-left: -173px;
  top: 50%;
  margin-top: -204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  padding: 48px 32px;
  background-image: url('/images/rain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form-element-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-value {
  width: 240px;
  height: 27px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-label {
  color: lavenderblush;
  font-weight: bolder;
  font-size: 1rem;
}

.form-value-error {
  border-color:crimson;
  border-width: 2px;
}

.form-error {
  height: 16px;
  font-size: 0.9rem;
  color: crimson;
}

.form-button {
  align-self: center;
  width: 136px;
  height: 38px;
  border-width: 0px;
  border-radius: 6px;
  color: lavenderblush;
  font-weight: bold;
  background-color: black;
  font-size: 1.2rem;
}
